<div class="well">
    <form>
        <div class="form-group">
            <label for="user">User: </label>
            <input type="text" id="user" class="form-control" placeholder="Enter user ID or name" ng-model="username">
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" id="password"class="form-control" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit" ng-click="passUser(username);">Login</button>
        <button class="btn btn-info" type="button" ng-click="go('/register');">Create New User</button>
    </form>
</div>